<a href="https://colab.research.google.com/github/pabliacci/test-00/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from datetime import datetime
import pandas_datareader as web
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import style
%matplotlib inline

In [ ]:
!pip install yfinance

import yfinance as yf

Requirement already satisfied: yfinance in /usr/local/lib/python3.10/dist-packages (0.2.50)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.2.2)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.10/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (5.3.0)
Requirement already satisfied: platformdirs>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.3.6)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2024.2)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.4.6)
Requirement already satisfied: peewee>=3.16.2 in /usr/local/lib/python3.10/dist-packages (from yfinance) (3.17.8)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.12.3)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.6)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (1.17.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.3.0->yfinance) (2024.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->yfinance) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->yfinance) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->yfinance) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->yfinance) (2024.8.30)

In [ ]:
# Define the date range for the data
start_date = datetime(2023, 1, 1)
end_date = datetime(2023, 8, 30)

# Fetch Google stock data from Yahoo Finance using yfinance
google_data = yf.download("BSANTANDER.SN", start=start_date, end=end_date)
# Display the first few rows of the fetched data
print(google_data.head())

[*********************100%***********************]  1 of 1 completed

Price          Adj Close         Close          High           Low  \
Ticker     BSANTANDER.SN BSANTANDER.SN BSANTANDER.SN BSANTANDER.SN
Date
2023-01-03     29.868242     33.400002     33.950001     33.360001
2023-01-04     29.555252     33.049999     33.450001     33.020000
2023-01-05     29.760931     33.279999     33.340000     32.000000
2023-01-06     29.921898     33.459999     33.459999     33.279999
2023-01-09     30.118637     33.680000     33.750000     33.200001

Price               Open        Volume
Ticker     BSANTANDER.SN BSANTANDER.SN
Date
2023-01-03     33.400002       9392043
2023-01-04     33.049999      14840191
2023-01-05     33.279999       8638953
2023-01-06     33.459999       1688317
2023-01-09     33.680000      10631460

In [ ]:
CHILE = yf.Ticker('CHILE.SN')
#CHILE.info

In [ ]:
hist=CHILE.history(period='max')
hist.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2008-01-02 00:00:00-03:00,16.903756,16.903756,16.477043,16.477043,103887755,0.0,0.0
2008-01-03 00:00:00-03:00,16.477043,16.582665,16.265799,16.392546,34533343,0.0,0.0
2008-01-04 00:00:00-03:00,16.392545,16.392545,16.054555,16.160177,42583150,0.0,0.0
2008-01-07 00:00:00-03:00,16.181302,16.206651,16.012307,16.054556,36061655,0.0,0.0
2008-01-08 00:00:00-03:00,16.054556,16.227776,16.054556,16.054556,31888461,0.0,0.0

In [ ]:
CHILE.quarterly_balance_sheet.head()

,2024-09-30,2024-06-30,2024-03-31,2023-12-31,2023-09-30,2023-06-30,2023-03-31
Ordinary Shares Number,101017081114.0,101017081114.0,101017081114.0,101017081114.0,101017081114.0,NaN,NaN
Share Issued,101017081114.0,101017081114.0,101017081114.0,101017081114.0,101017081114.0,NaN,NaN
Net Debt,9346872000000.0,7758090000000.0,7380157000000.0,7492046000000.0,6898674000000.0,NaN,NaN
Total Debt,12081401000000.0,11067952000000.0,11096130000000.0,10473679000000.0,10598972000000.0,NaN,NaN
Tangible Book Value,5321336000000.0,5188779000000.0,5030668000000.0,5911329000000.0,4898586000000.0,NaN,NaN

In [ ]:
CHILE.quarterly_cashflow.head()

,2024-09-30,2024-06-30,2024-03-31,2023-12-31,2023-09-30,2023-06-30
Free Cash Flow,-399036000000.0,-431346000000.0,-106772000000.0,50461000000.0,2105921000000.0,NaN
Repayment Of Debt,-287315000000.0,-325523000000.0,-275211000000.0,-687884000000.0,-552493000000.0,NaN
Issuance Of Debt,269382000000.0,208349000000.0,314872000000.0,287727000000.0,239595000000.0,NaN
Capital Expenditure,-16953000000.0,-18577000000.0,-20200000000.0,-22862000000.0,-23433000000.0,NaN
Interest Paid Supplemental Data,198649000000.0,260068000000.0,282370000000.0,321133000000.0,249539000000.0,NaN

In [ ]:
CHILE.quarterly_financials.head()

,2024-09-30,2024-06-30,2024-03-31,2023-12-31,2023-09-30,2023-06-30,2023-03-31
Tax Effect Of Unusual Items,-131042712.439906,-438874921.255351,133206000.0,84268154.922001,-12773830.579805,NaN,NaN
Tax Rate For Calcs,0.216242,0.197425,0.2235,0.132706,0.26069,NaN,NaN
Total Unusual Items,-606000000.0,-2223000000.0,596000000.0,635000000.0,-49000000.0,NaN,NaN
Total Unusual Items Excluding Goodwill,-606000000.0,-2223000000.0,596000000.0,635000000.0,-49000000.0,NaN,NaN
Net Income From Continuing Operation Net Minority Interest,288071000000.0,323600000000.0,297655000000.0,515935000000.0,259993000000.0,NaN,NaN

In [ ]:
#hist.plot(kind='line', subplots=True)

In [ ]:
# Wikipedia URL for IPSA components
url = 'https://es.wikipedia.org/wiki/%C3%8Dndice_de_Precio_Selectivo_de_Acciones'

# Extract tables from the Wikipedia page
tables = pd.read_html(url)

# Display the first table (if it exists)
print(tables[0])

    N.   Nemotcnico                             Empresa
0     1       AGUAS-A                       Aguas Andinas
1     2      ANDINA-B                Embotelladora Andina
2     3           BCI      Banco de Crdito e Inversiones
3     4    BSANTANDER               Banco Santander Chile
4     5           CAP                                 CAP
5     6           CCU      Compaa de Cerveceras Unidas
6     7    CENCOSHOPP              Cencosud Shopping S.A.
7     8      CENCOSUD                       Cencosud S.A.
8     9         CHILE                      Banco de Chile
9    10          CMPC                       Empresas CMPC
10   11        COLBUN                              Colbn
11   12    CONCHATORO                  Via Concha y Toro
12   13         COPEC                               Copec
13   14           ECL                               Engie
14   15        ENELAM                       Enel Amricas
15   16     ENELCHILE                          Enel Chile
16   17         ENTEL                         Entel Chile
17   18     FALABELLA                  S.A.C.I. Falabella
18   19           IAM    Inversiones Aguas Metropolitanas
19   20        ITAUCL                    Banco Ita Chile
20   21           LTM           Latam Airlines Group S.A.
21   22     MALLPLAZA                          Plaza S.A.
22   23  ORO%20BLANCO  Sociedad de Inversiones Oro Blanco
23   24       PARAUCO                       Parque Arauco
24   25      QUINENCO                        Quienco S.A
25   26        RIPLEY                   Ripley Corp. S.A.
26   27           SMU                            SMU S.A.
27   28         SONDA                               Sonda
28   29         SQM-B  Sociedad Qumica y Minera de Chile
29   30       VAPORES    Compaa Sudamericana de Vapores

In [ ]:
df_idx=[i + '.SN' for i in tables[0]['Nemotcnico']]

In [ ]:
#check if the ticker are working

def validate_tickers(ticker_list):
    """
    Validate a list of tickers to check which ones are valid in yfinance.

    Parameters:
        ticker_list (list): List of tickers to validate.

    Returns:
        valid_tickers (list): A list of valid tickers.
        invalid_tickers (list): A list of invalid tickers.
    """
    valid_tickers = []
    invalid_tickers = []

    for ticker in ticker_list:
        try:
            # Attempt to fetch basic info for the ticker
            stock = yf.Ticker(ticker)

            # Try fetching a common piece of information like "info" or historical data
            if stock.info.get("bookValue") is None:
                print(f"Ticker {ticker} is invalid (no data in info).")
                invalid_tickers.append(ticker)
            else:
                #print(f"Ticker {ticker} is valid.")
                valid_tickers.append(ticker)
        except Exception as e:
            # Handle specific errors like 404 Client Errors
            print(f"An error occurred with ticker {ticker}: {e}")
            invalid_tickers.append(ticker)

    return valid_tickers, invalid_tickers

In [ ]:
#ticker list
ticker_list = df_idx

# Validate tickers
valid_tickers, invalid_tickers = validate_tickers(ticker_list)

print("\nValid Tickers:", valid_tickers)
print("Invalid Tickers:", invalid_tickers)

ERROR:yfinance:404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/CENCOSHOPP.SN?modules=financialData%2CquoteType%2CdefaultKeyStatistics%2CassetProfile%2CsummaryDetail&corsDomain=finance.yahoo.com&formatted=false&symbol=CENCOSHOPP.SN&crumb=beXOrhS7iNd

Ticker CENCOSHOPP.SN is invalid (no data in info).
Ticker ORO%20BLANCO.SN is invalid (no data in info).

Valid Tickers: ['AGUAS-A.SN', 'ANDINA-B.SN', 'BCI.SN', 'BSANTANDER.SN', 'CAP.SN', 'CCU.SN', 'CENCOSUD.SN', 'CHILE.SN', 'CMPC.SN', 'COLBUN.SN', 'CONCHATORO.SN', 'COPEC.SN', 'ECL.SN', 'ENELAM.SN', 'ENELCHILE.SN', 'ENTEL.SN', 'FALABELLA.SN', 'IAM.SN', 'ITAUCL.SN', 'LTM.SN', 'MALLPLAZA.SN', 'PARAUCO.SN', 'QUINENCO.SN', 'RIPLEY.SN', 'SMU.SN', 'SONDA.SN', 'SQM-B.SN', 'VAPORES.SN']
Invalid Tickers: ['CENCOSHOPP.SN', 'ORO%20BLANCO.SN']

In [ ]:
def process_ticker_data(df_idx, ticker_attr, columns_to_keep):
    """
    Process ticker data based on the given attribute and append filtered data to a list.

    Parameters:
    - df_idx: List of ticker symbols.
    - ticker_attr: The attribute to extract from the ticker object (e.g., 'quarterly_balance_sheet').
    - columns_to_keep: List of column names to keep in the filtered DataFrame.

    Returns:
    - A list of filtered DataFrames for each ticker.
    """
    result_list = []

    # Iterate through a copy of df_idx to avoid modifying during iteration
    for item in df_idx[:]:
        try:
            # Get the ticker data
            l_ticker = yf.Ticker(item)

            # Dynamically access the attribute (e.g., quarterly_balance_sheet, quarterly_financials)
            quarterly_data = getattr(l_ticker, ticker_attr)

            # Filter columns
            filtered_df = quarterly_data[columns_to_keep]

            # Append to result list
            result_list.append(filtered_df)

            print(f"{item} columnas agregadas: {len(filtered_df.columns)}")

        except Exception as e:
            # Remove problematic tickers and log the error
            df_idx.remove(item)
            print(f"An error occurred in {item}: {e}")
            continue

    return result_list

#create list for quarterly_financials, quarterly_cash_flow,quarterly_balance_sheet
l_q_fs=[]
l_q_cf=[]
l_q_bs=[]

# Define shared parameters
columns_to_keep = ['2024-06-30', '2024-03-31', '2023-12-31', '2023-09-30']

# Process data for different ticker attributes
print('quarterly_financials\n')
if len(valid_tickers) != len(l_q_fs):
    l_q_fs = process_ticker_data(valid_tickers, 'quarterly_financials', columns_to_keep)

print('\nquarterly_cash_flow\n')
if len(valid_tickers) != len(l_q_cf):
    l_q_cf = process_ticker_data(valid_tickers, 'quarterly_cash_flow', columns_to_keep)

print('\nquarterly_balance_sheet\n')
if len(valid_tickers) != len(l_q_bs):
    l_q_bs = process_ticker_data(valid_tickers, 'quarterly_balance_sheet', columns_to_keep)

quarterly_financials

AGUAS-A.SN columnas agregadas: 4
ANDINA-B.SN columnas agregadas: 4
BCI.SN columnas agregadas: 4
BSANTANDER.SN columnas agregadas: 4
CAP.SN columnas agregadas: 4
CCU.SN columnas agregadas: 4
CENCOSUD.SN columnas agregadas: 4
CHILE.SN columnas agregadas: 4
CMPC.SN columnas agregadas: 4
COLBUN.SN columnas agregadas: 4
CONCHATORO.SN columnas agregadas: 4
COPEC.SN columnas agregadas: 4
ECL.SN columnas agregadas: 4
ENELAM.SN columnas agregadas: 4
ENELCHILE.SN columnas agregadas: 4
ENTEL.SN columnas agregadas: 4
FALABELLA.SN columnas agregadas: 4
IAM.SN columnas agregadas: 4
ITAUCL.SN columnas agregadas: 4
LTM.SN columnas agregadas: 4
MALLPLAZA.SN columnas agregadas: 4
PARAUCO.SN columnas agregadas: 4
QUINENCO.SN columnas agregadas: 4
RIPLEY.SN columnas agregadas: 4
SMU.SN columnas agregadas: 4
SONDA.SN columnas agregadas: 4
SQM-B.SN columnas agregadas: 4
VAPORES.SN columnas agregadas: 4

quarterly_cash_flow

AGUAS-A.SN columnas agregadas: 4
ANDINA-B.SN columnas agregadas: 4
BCI.SN columnas agregadas: 4
BSANTANDER.SN columnas agregadas: 4
CAP.SN columnas agregadas: 4
CCU.SN columnas agregadas: 4
CENCOSUD.SN columnas agregadas: 4
CHILE.SN columnas agregadas: 4
CMPC.SN columnas agregadas: 4
COLBUN.SN columnas agregadas: 4
CONCHATORO.SN columnas agregadas: 4
COPEC.SN columnas agregadas: 4
ECL.SN columnas agregadas: 4
ENELAM.SN columnas agregadas: 4
ENELCHILE.SN columnas agregadas: 4
ENTEL.SN columnas agregadas: 4
FALABELLA.SN columnas agregadas: 4
IAM.SN columnas agregadas: 4
ITAUCL.SN columnas agregadas: 4
LTM.SN columnas agregadas: 4
MALLPLAZA.SN columnas agregadas: 4
PARAUCO.SN columnas agregadas: 4
QUINENCO.SN columnas agregadas: 4
RIPLEY.SN columnas agregadas: 4
SMU.SN columnas agregadas: 4
SONDA.SN columnas agregadas: 4
SQM-B.SN columnas agregadas: 4
VAPORES.SN columnas agregadas: 4

quarterly_balance_sheet

AGUAS-A.SN columnas agregadas: 4
ANDINA-B.SN columnas agregadas: 4
BCI.SN columnas agregadas: 4
BSANTANDER.SN columnas agregadas: 4
CAP.SN columnas agregadas: 4
CCU.SN columnas agregadas: 4
CENCOSUD.SN columnas agregadas: 4
CHILE.SN columnas agregadas: 4
CMPC.SN columnas agregadas: 4
COLBUN.SN columnas agregadas: 4
CONCHATORO.SN columnas agregadas: 4
COPEC.SN columnas agregadas: 4
ECL.SN columnas agregadas: 4
ENELAM.SN columnas agregadas: 4
ENELCHILE.SN columnas agregadas: 4
ENTEL.SN columnas agregadas: 4
FALABELLA.SN columnas agregadas: 4
IAM.SN columnas agregadas: 4
ITAUCL.SN columnas agregadas: 4
LTM.SN columnas agregadas: 4
MALLPLAZA.SN columnas agregadas: 4
PARAUCO.SN columnas agregadas: 4
QUINENCO.SN columnas agregadas: 4
RIPLEY.SN columnas agregadas: 4
SMU.SN columnas agregadas: 4
SONDA.SN columnas agregadas: 4
SQM-B.SN columnas agregadas: 4
VAPORES.SN columnas agregadas: 4

In [ ]:
#remove NaN in the df list

def remove_nan_rows(dataframes_list):
    """
    Removes rows that contain only NaN values from each DataFrame in a list.

    Args:
    - dataframes_list (list): List of DataFrames to process.

    Returns:
    - list: List of DataFrames with rows containing only NaN removed.
    """
    updated_dataframes = []

    for i, df in enumerate(dataframes_list):
        try:
            # Drop rows with all NaN values
            df_cleaned = df.dropna(how="all")
            updated_dataframes.append(df_cleaned)
        except Exception as e:
            print(f"An error occurred at iteration {i}: {e}")
            updated_dataframes.append(df)  # Preserve the original DataFrame in case of error

    return updated_dataframes

In [ ]:
l_q_fs_cleaned = remove_nan_rows(l_q_fs)
l_q_cf_cleaned = remove_nan_rows(l_q_cf)
l_q_bs_cleaned = remove_nan_rows(l_q_bs)

In [ ]:
#consolidar las listas

# Consolidar las listas en una sola
# Consolidar los DataFrames correspondientes de cada lista y conservar los ndices originales
lista_consolidada = [pd.concat([df1, df2, df3]) for df1, df2, df3 in zip(l_q_fs_cleaned, l_q_cf_cleaned, l_q_bs_cleaned)]

In [ ]:
def contar_y_ordenar_indices(lista_dfs):
    from collections import Counter

    # Contador para acumular los ndices de todos los DataFrames
    contador_indices = Counter()

    # Contar ndices en cada DataFrame
    for df in lista_dfs:
        contador_indices.update(df.index)

    # Ordenar el contador de mayor a menor
    return dict(contador_indices.most_common())

# Ejemplo de uso:
# lista_consolidada = [df1, df2, df3, ...]
repeticiones_indices = contar_y_ordenar_indices(lista_consolidada)

# Ahora repeticiones_indices contiene el conteo total de cada ndice, ordenado de mayor a menor

In [ ]:
repeticiones_indices = contar_y_ordenar_indices(lista_consolidada)
print(repeticiones_indices)

{'Tax Effect Of Unusual Items': 28, 'Tax Rate For Calcs': 28, 'Total Unusual Items': 28, 'Total Unusual Items Excluding Goodwill': 28, 'Net Income From Continuing Operation Net Minority Interest': 28, 'Net Interest Income': 28, 'Interest Expense': 28, 'Interest Income': 28, 'Normalized Income': 28, 'Net Income From Continuing And Discontinued Operation': 28, 'Diluted Average Shares': 28, 'Basic Average Shares': 28, 'Diluted EPS': 28, 'Basic EPS': 28, 'Diluted NI Availto Com Stockholders': 28, 'Net Income Common Stockholders': 28, 'Net Income': 28, 'Net Income Including Noncontrolling Interests': 28, 'Net Income Continuous Operations': 28, 'Tax Provision': 28, 'Pretax Income': 28, 'Special Income Charges': 28, 'Selling General And Administration': 28, 'General And Administrative Expense': 28, 'Total Revenue': 28, 'Operating Revenue': 28, 'Free Cash Flow': 28, 'Financing Cash Flow': 28, 'Investing Cash Flow': 28, 'Ordinary Shares Number': 28, 'Share Issued': 28, 'Total Debt': 28, 'Tangible Book Value': 28, 'Invested Capital': 28, 'Net Tangible Assets': 28, 'Common Stock Equity': 28, 'Total Capitalization': 28, 'Total Equity Gross Minority Interest': 28, 'Stockholders Equity': 28, 'Retained Earnings': 28, 'Capital Stock': 28, 'Common Stock': 28, 'Total Liabilities Net Minority Interest': 28, 'Long Term Debt And Capital Lease Obligation': 28, 'Payables': 28, 'Total Tax Payable': 28, 'Accounts Payable': 28, 'Total Assets': 28, 'Net PPE': 28, 'Accumulated Depreciation': 28, 'Gross PPE': 28, 'Other Properties': 28, 'Cash And Cash Equivalents': 28, 'Cash Financial': 28, 'Minority Interests': 27, 'Issuance Of Debt': 27, 'Capital Expenditure': 27, 'End Cash Position': 27, 'Beginning Cash Position': 27, 'Changes In Cash': 27, 'Net Issuance Payments Of Debt': 27, 'Net Long Term Debt Issuance': 27, 'Net PPE Purchase And Sale': 27, 'Purchase Of PPE': 27, 'Net Debt': 27, 'Capital Lease Obligations': 27, 'Minority Interest': 27, 'Long Term Capital Lease Obligation': 27, 'Goodwill And Other Intangible Assets': 27, 'Other Intangible Assets': 27, 'Accounts Receivable': 27, 'Operating Expense': 26, 'Other Operating Expenses': 26, 'Repayment Of Debt': 26, 'Effect Of Exchange Rate Changes': 26, 'Long Term Debt Payments': 26, 'Long Term Debt': 26, 'Current Debt And Capital Lease Obligation': 26, 'Other Payable': 26, 'Prepaid Assets': 26, 'Other Receivables': 26, 'Taxes Receivable': 26, 'Cash Equivalents': 26, 'Cash Dividends Paid': 25, 'Non Current Deferred Taxes Liabilities': 25, 'Current Capital Lease Obligation': 25, 'Current Debt': 25, 'Goodwill': 25, 'Buildings And Improvements': 25, 'Normalized EBITDA': 24, 'EBITDA': 24, 'EBIT': 24, 'Total Expenses': 24, 'Other Non Operating Income Expenses': 24, 'Other Special Charges': 24, 'Net Non Operating Interest Income Expense': 24, 'Interest Expense Non Operating': 24, 'Interest Income Non Operating': 24, 'Operating Income': 24, 'Long Term Debt Issuance': 24, 'Sale Of PPE': 24, 'Working Capital': 24, 'Total Non Current Liabilities Net Minority Interest': 24, 'Derivative Product Liabilities': 24, 'Current Liabilities': 24, 'Total Non Current Assets': 24, 'Non Current Deferred Taxes Assets': 24, 'Investmentin Financial Assets': 24, 'Machinery Furniture Equipment': 24, 'Current Assets': 24, 'Cash Cash Equivalents And Short Term Investments': 24, 'Other Short Term Investments': 24, 'Long Term Equity Investment': 24, 'Reconciled Cost Of Revenue': 23, 'Gross Profit': 23, 'Cost Of Revenue': 23, 'Net Short Term Debt Issuance': 23, 'Net Intangibles Purchase And Sale': 23, 'Long Term Provisions': 23, 'Current Provisions': 23, 'Dividends Payable': 23, 'Available For Sale Securities': 23, 'Land And Improvements': 23, 'Purchase Of Intangibles': 22, 'Cash Flowsfromusedin Operating Activities Direct': 22, 'Other Current Liabilities': 22, 'Other Non Current Assets': 22, 'Construction In Progress': 22, 'Total Operating Income As Reported': 21, 'Short Term Debt Issuance': 21, 'Classesof Cash Payments': 21, 'Classesof Cash Receiptsfrom Operating Activities': 21, 'Financial Assets': 21, 'Properties': 21, 'Other Current Assets': 21, 'Inventory': 21, 'Reconciled Depreciation': 20, 'Otherunder Preferred Stock Dividend': 20, 'Total Other Finance Cost': 20, 'Depreciation And Amortization In Income Statement': 20, 'Net Other Investing Changes': 20, 'Taxes Refund Paid Direct': 20, 'Paymentson Behalfof Employees': 20, 'Paymentsto Suppliersfor Goodsand Services': 20, 'Receiptsfrom Customers': 20, 'Non Current Pension And Other Postretirement Benefit Plans': 20, 'Tradeand Other Payables Non Current': 20, 'Pensionand Other Post Retirement Benefit Plans Current': 20, 'Non Current Prepaid Assets': 20, 'Hedging Assets Current': 20, 'Other Cash Paymentsfrom Operating Activities': 19, 'Other Non Current Liabilities': 19, 'Selling And Marketing Expense': 19, 'Net Business Purchase And Sale': 19, 'Interest Paid Cff': 19, 'Depreciation Income Statement': 18, 'Common Stock Dividend Paid': 18, 'Raw Materials': 18, 'Net Other Financing Charges': 18, 'Write Off': 17, 'Purchase Of Business': 17, 'Other Cash Receiptsfrom Operating Activities': 16, 'Treasury Shares Number': 16, 'Assets Held For Sale Current': 16, 'Finished Goods': 16, 'Gross Accounts Receivable': 16, 'Restructuring And Mergern Acquisition': 15, 'Impairment Of Capital Assets': 15, 'Dividends Received Cfi': 15, 'Investmentsin Associatesat Cost': 15, 'Investment Properties': 15, 'Interest Received Cfi': 15, 'Rent Expense Supplemental': 14, 'Rent And Landing Fees': 14, 'Other Inventories': 14, 'Non Current Deferred Revenue': 14, 'Allowance For Doubtful Accounts Receivable': 14, 'Net Investment Purchase And Sale': 12, 'Net Common Stock Issuance': 12, 'Interest Received Direct': 11, 'Sale Of Investment': 11, 'Restricted Cash': 11, 'Net Income Discontinuous Operations': 11, 'Additional Paid In Capital': 10, 'Purchase Of Investment': 10, 'Work In Process': 10, 'Current Deferred Taxes Liabilities': 9, 'Inventories Adjustments Allowances': 9, 'Sale Of Business': 9, 'Non Current Deferred Assets': 9, 'Amortization': 9, 'Issuance Of Capital Stock': 9, 'Common Stock Issuance': 9, 'Interest Paid Direct': 8, 'Gain On Sale Of Security': 8, 'Investments And Advances': 8, 'Receivables': 8, 'Gains Losses Not Affecting Retained Earnings': 7, 'Other Equity Adjustments': 7, 'Payables And Accrued Expenses': 7, 'Repurchase Of Capital Stock': 7, 'Operating Cash Flow': 7, 'Financial Assets Designatedas Fair Value Through Profitor Loss Total': 7, 'Treasury Stock': 7, 'Other Gand A': 6, 'Cash Flow From Continuing Financing Activities': 6, 'Cash Flow From Continuing Investing Activities': 6, 'Non Current Deferred Liabilities': 6, 'Income Tax Payable': 6, 'Leases': 6, 'Sale Of Intangibles': 6, 'Change In Working Capital': 6, 'Other Non Cash Items': 6, 'Depreciation And Amortization': 6, 'Depreciation': 6, 'Net Income From Continuing Operations': 6, 'Held To Maturity Securities': 6, 'Dividends Received Direct': 5, 'Employee Benefits': 5, 'Short Term Debt Payments': 5, 'Gain Loss On Sale Of PPE': 5, 'Investmentsin Joint Venturesat Cost': 5, 'Common Stock Payments': 5, 'Other Equity Interest': 4, 'Other Income Expense': 4, 'Other Current Borrowings': 4, 'Dueto Related Parties Current': 4, 'Non Current Accounts Receivable': 4, 'Duefrom Related Parties Current': 4, 'Insurance And Claims': 4, 'Taxes Refund Paid': 4, 'Provisionand Write Offof Assets': 4, 'Amortization Cash Flow': 4, 'Cash Cash Equivalents And Federal Funds Sold': 4, 'Depreciation Amortization Depletion Income Statement': 4, 'Salaries And Wages': 4, 'Change In Other Current Assets': 4, 'Other Investments': 4, 'Gain On Sale Of Ppe': 3, 'Earnings From Equity Interest': 3, 'Dueto Related Parties Non Current': 3, 'Interest Received Cfo': 3, 'Interest Paid Cfo': 3, 'Change In Other Current Liabilities': 3, 'Gain Loss On Investment Securities': 3, 'Defined Pension Benefit': 3, 'Professional Expense And Contract Services Expense': 3, 'Other Non Interest Expense': 3, 'Cash Flow From Continuing Operating Activities': 3, 'Change In Other Working Capital': 3, 'Asset Impairment Charge': 3, 'Depreciation Amortization Depletion': 3, 'Amortization Of Intangibles': 3, 'Operating Gains Losses': 3, 'Current Deferred Assets': 3, 'Current Deferred Liabilities': 3, 'Current Deferred Revenue': 3, 'Change In Receivables': 3, 'Other Taxes': 2, 'Duefrom Related Parties Non Current': 2, 'Net Preferred Stock Issuance': 2, 'Preferred Stock Payments': 2, 'Preferred Stock Issuance': 2, 'Trading Securities': 2, 'Investmentsin Subsidiariesat Cost': 2, 'Occupancy And Equipment': 2, 'Deferred Tax': 2, 'Deferred Income Tax': 2, 'Earnings Losses From Equity Investments': 2, 'Unrealized Gain Loss On Investment Securities': 2, 'Net Foreign Currency Exchange Gain Loss': 2, 'Change In Prepaid Assets': 2, 'Investments In Other Ventures Under Equity Method': 2, 'Other Cash Adjustment Outside Changein Cash': 1, 'Amortization Of Intangibles Income Statement': 1, 'Dividend Received Cfo': 1, 'Gain Loss On Sale Of Business': 1, 'Unrealized Gain Loss': 1, 'Interest Paid Supplemental Data': 1, 'Changes In Account Receivables': 1, 'Dividends Paid Direct': 1, 'Fixed Assets Revaluation Reserve': 1, 'Preferred Securities Outside Stock Equity': 1, 'Line Of Credit': 1, 'Current Accrued Expenses': 1, 'Net Investment Properties Purchase And Sale': 1, 'Purchase Of Investment Properties': 1}

In [ ]:
def filtrar_por_indice_y_posiciones(lista_dfs, indice):
    # Inicializar listas para los DataFrames filtrados y las posiciones eliminadas
    lista_filtrada = []
    posiciones_eliminadas = []

    # Recorrer los DataFrames con su ndice en la lista
    for i, df in enumerate(lista_dfs):
        if indice in df.index:
            lista_filtrada.append(df)
        else:
            posiciones_eliminadas.append(i)

    return lista_filtrada, posiciones_eliminadas

# Ejemplo de uso:
# lista_consolidada = [df1, df2, df3, ...]
lista_consolidada_filtrada, posiciones_eliminadas = filtrar_por_indice_y_posiciones(lista_consolidada, 'Dividends Payable')

# Ahora:
# - lista_consolidada_filtrada contiene solo los DataFrames cuyo ndice contiene 'Dividends Payable'
# - posiciones_eliminadas contiene las posiciones de los DataFrames que no cumplen la condicin

In [ ]:
for i in posiciones_eliminadas:
  print(df_idx[i])

BSANTANDER.SN
CONCHATORO.SN
COPEC.SN
ENTEL.SN
PARAUCO.SN

In [ ]:
for i in lista_consolidada_filtrada:
  print(i.shape)
len(lista_consolidada_filtrada)

(168, 4)
(189, 4)
(145, 4)
(188, 4)
(196, 4)
(172, 4)
(154, 4)
(164, 4)
(167, 4)
(164, 4)
(183, 4)
(144, 4)
(163, 4)
(165, 4)
(166, 4)
(181, 4)
(154, 4)
(160, 4)
(196, 4)
(171, 4)
(178, 4)
(173, 4)
(138, 4)

23

In [ ]:
def conservar_filas_comunes_con_posiciones(lista_dfs):
    if not lista_dfs:  # Verificar si la lista est vaca
        return [], []

    # Encontrar la interseccin de ndices entre todos los DataFrames
    indices_comunes = set(lista_dfs[0].index)
    for df in lista_dfs[1:]:
        indices_comunes &= set(df.index)

    # Convertir los ndices comunes a una lista
    indices_comunes = list(indices_comunes)

    # Filtrar DataFrames que contienen todos los ndices comunes
    lista_filtrada = []
    posiciones_eliminados = []

    for i, df in enumerate(lista_dfs):
        if all(idx in df.index for idx in indices_comunes):
            lista_filtrada.append(df.loc[indices_comunes])
        else:
            posiciones_eliminados.append(i)

    return lista_filtrada, posiciones_eliminados

# Ejemplo de uso:
# lista_consolidada = [df1, df2, df3, ...]
lista_filtrada, posiciones_eliminados = conservar_filas_comunes_con_posiciones(lista_consolidada_filtrada)

# Ahora 'lista_filtrada' tiene los DataFrames filtrados
# Y 'posiciones_eliminados' tiene las posiciones de los DataFrames descartados

In [ ]:
posiciones_eliminados

[]

In [ ]:
for  i in lista_filtrada:
  print(i.shape)
print(len(lista_filtrada))

(56, 4)
(56, 4)
(56, 4)
(56, 4)
(56, 4)
(56, 4)
(56, 4)
(56, 4)
(56, 4)
(56, 4)
(56, 4)
(56, 4)
(56, 4)
(56, 4)
(56, 4)
(56, 4)
(56, 4)
(56, 4)
(56, 4)
(56, 4)
(56, 4)
(56, 4)
(56, 4)
23

In [ ]:
def contar_nan_en_lista(lista_dfs):
    resultados = []
    for i, df in enumerate(lista_dfs):
        # Contar los NaN en todo el DataFrame
        num_nan = df.isna().sum().sum()
        # Agregar el resultado a la lista como tupla: (posicin, nmero de NaN)
        resultados.append((i, num_nan))
    return resultados

# Ejemplo de uso:
# lista_consolidada = [df1, df2, df3, ...]
resultados_nan = contar_nan_en_lista(lista_filtrada)

# Ahora resultados_nan contiene las posiciones y el nmero de NaN en cada DataFrame

In [ ]:
resultados_nan

[(0, 4),
 (1, 0),
 (2, 4),
 (3, 4),
 (4, 0),
 (5, 0),
 (6, 4),
 (7, 4),
 (8, 8),
 (9, 4),
 (10, 8),
 (11, 45),
 (12, 4),
 (13, 4),
 (14, 4),
 (15, 6),
 (16, 7),
 (17, 4),
 (18, 4),
 (19, 4),
 (20, 4),
 (21, 4),
 (22, 13)]

In [ ]:
lista_filtrada[22]

,2024-06-30,2024-03-31,2023-12-31,2023-09-30
Total Equity Gross Minority Interest,6884833000.0,7922025000.0,8088551000.0,8084579000.0
Ordinary Shares Number,51319876188.0,51319876188.0,51319876188.0,51319876188.0
Diluted Average Shares,47941666667.0,51319876188.0,NaN,50273888889.0
Normalized Income,28765000.0,-159105000.0,1102000.0,-90493000.0
Total Capitalization,6884833000.0,7922025000.0,8088551000.0,8084579000.0
Total Revenue,0.0,0.0,0.0,0.0
Net Income From Continuing And Discontinued Operation,28765000.0,-159105000.0,1102000.0,-90493000.0
Basic Average Shares,47941666667.0,51319876188.0,NaN,50273888889.0
Total Unusual Items Excluding Goodwill,NaN,NaN,0.0,0.0
Share Issued,51319876188.0,51319876188.0,51319876188.0,51319876188.0
Total Unusual Items,NaN,NaN,0.0,0.0
Other Properties,3184000.0,3223000.0,3434000.0,3485000.0
Net Tangible Assets,6884833000.0,7922025000.0,8088551000.0,8084579000.0
Dividends Payable,503000.0,77800000.0,77855000.0,77530000.0
Operating Revenue,0.0,0.0,0.0,0.0
Payables,10263000.0,93836000.0,96276000.0,93440000.0
Invested Capital,6884833000.0,7922025000.0,8088551000.0,8084579000.0
Diluted EPS,0.0006,-0.0031,NaN,-0.0018
Net Income Including Noncontrolling Interests,28765000.0,-159105000.0,1102000.0,-90493000.0
Net Income Continuous Operations,28765000.0,-159105000.0,1102000.0,-90493000.0
Special Income Charges,NaN,NaN,0.0,0.0
Gross PPE,3240000.0,3279000.0,3487000.0,3589000.0
General And Administrative Expense,1303000.0,1540000.0,2411000.0,1812000.0
Total Debt,1312000.0,1294000.0,1488000.0,1484000.0
Cash And Cash Equivalents,96890000.0,963130000.0,278304000.0,395330000.0
Retained Earnings,4282185000.0,5320264000.0,5479369000.0,5478598000.0
Accumulated Depreciation,-32000.0,-28000.0,-24000.0,-71000.0
Net Interest Income,7591000.0,4667000.0,3849000.0,1384000.0
Total Assets,7005066000.0,8115168000.0,8268657000.0,8317302000.0
Minority Interests,NaN,NaN,NaN,0.0
Basic EPS,0.0006,-0.0031,NaN,-0.0018
Stockholders Equity,6884833000.0,7922025000.0,8088551000.0,8084579000.0
Investing Cash Flow,394251000.0,956390000.0,5477000.0,539893000.0
Free Cash Flow,-109242000.0,-270818000.0,-20077000.0,-161262000.0
Cash Financial,46853000.0,52215000.0,22759000.0,37930000.0
Diluted NI Availto Com Stockholders,28765000.0,-159105000.0,1102000.0,-90493000.0
Financing Cash Flow,-1154229000.0,-72000.0,-103421000.0,-101382000.0
Capital Stock,2517658000.0,2517658000.0,2612620000.0,2612620000.0
Tax Effect Of Unusual Items,0.0,0.0,0.0,0.0
Interest Expense,30000.0,1000.0,1306000.0,2183000.0
Tax Provision,106879000.0,230475000.0,-20815000.0,137556000.0
Net PPE,3208000.0,3251000.0,3463000.0,3518000.0
Net Income,28765000.0,-159105000.0,1102000.0,-90493000.0
Net Income Common Stockholders,28765000.0,-159105000.0,1102000.0,-90493000.0
Total Tax Payable,0.0,5000.0,5000.0,5000.0
Total Liabilities Net Minority Interest,120233000.0,193143000.0,180106000.0,232723000.0
Tangible Book Value,6884833000.0,7922025000.0,8088551000.0,8084579000.0
Common Stock Equity,6884833000.0,7922025000.0,8088551000.0,8084579000.0
Long Term Debt And Capital Lease Obligation,1017000.0,999000.0,1193000.0,1195000.0
Selling General And Administration,1303000.0,1540000.0,2411000.0,1812000.0
Net Income From Continuing Operation Net Minority Interest,28765000.0,-159105000.0,1102000.0,-90493000.0
Interest Income,7621000.0,4667000.0,5476000.0,3650000.0
Common Stock,2517658000.0,2517658000.0,2612620000.0,2612620000.0
Accounts Payable,232000.0,353000.0,1014000.0,375000.0
Pretax Income,135644000.0,71370000.0,-19713000.0,47063000.0
Tax Rate For Calcs,0.27,0.27,0.27,0.27

**-OBTENCION DE INDICADORES FINANCIEROS-**

-INDICADORES DE RENTABILIDAD

Margen Neto (Net Profit Margin):
Net Income/Total Revenue | LISTO

Margen Operativo (Operating Margin):
Operating Revenue/ Total Revenue | DESCARTADO, todos 1

ROE (Return on Equity):
Net Income/Stockholders Equity | LISTO

ROA (Return on Assets):
Net Income/Total Assets | LISTO

ROIC (Return on Invested Capital):
Net IncomeDividends / Invested Capital | DESCARTADO, problemas con dividends 3, 11, 16 , 23, 26

Earnings Yield:
EPS /Market Price per Share | POSPUESTO

Indicadores de Riesgo Financiero

    Deuda Neta a EBITDA:
    Net Debt (Total Debt - Cash And Cash Equivalents)/EBITDA |PROBLEMAS CON EBITDA PERO QUEDA
    
    Evala la capacidad de la empresa para pagar su deuda neta usando sus ganancias operativas.

    Ratio de Apalancamiento (Leverage Ratio):
    Total Liabilities/Total Equity | LISTO
    
    Indica cunto riesgo financiero asume la empresa al financiarse con deuda.

In [ ]:
#ULTIMO Y ACTUAL
def calculate_metric(data_list_fs, data_list_bs, numerator_key, denominator_key, result_key, numerator_subtract_key=None, data_list_subtract=None):
    results = []
    for ele in range(len(data_list_fs)):
        try:
            # Handle the numerator subtraction if specified
            if numerator_subtract_key and data_list_subtract:
                numerator = data_list_fs[ele].loc[numerator_key] - data_list_subtract[ele].loc[numerator_subtract_key]
            else:
                numerator = data_list_fs[ele].loc[numerator_key]

            # Denominator
            denominator = data_list_bs[ele].loc[denominator_key]

            # Check if the denominator contains any zero values
            if (denominator == 0).any():
                # Create a DataFrame with all values set to 0
                result = pd.DataFrame(
                    0,
                    columns=data_list_fs[ele].columns,
                    index=[result_key]
                )
            else:
                # Perform the calculation
                result = pd.DataFrame(
                    [numerator / denominator],
                    columns=data_list_fs[ele].columns,
                    index=[result_key]
                )

            # Append the result DataFrame to the results list
            results.append(result)

        except Exception as e:
            print(f"An error occurred for element {ele}: {e}")
            continue

    return results

In [ ]:
#without sustraction
results = calculate_metric(l_q_fs, l_q_bs, 'Net Income', 'Total Assets', 'Return on Assets')

#with sustraction
results = calculate_metric(l_q_fs, l_q_bs, 'Net Income', 'Other Expenses', 'Return on Assets', numerator_subtract_key='Taxes', data_list_subtract=l_q_fs)

In [ ]:
#Margen Neto (Net Profit Margin): -OK-
#l_q_fs[10].loc['Net Income']/l_q_fs[10].loc['Total Revenue']

results = calculate_metric(l_q_fs, l_q_fs, 'Net Income', 'Total Revenue', 'Margen Neto')

In [ ]:
#ROE (Return on Equity): Net Income/Stockholders Equity -OK-
#l_q_fs[ele].loc['Net Income']/l_q_bs[ele].loc['Stockholders Equity']

results = calculate_metric(l_q_fs, l_q_bs, 'Net Income', 'Stockholders Equity', 'Return on Equity')

In [ ]:
#ROA (Return on Assets): Net Income/Total Assets -OK-
#l_q_fs[ele].loc['Net Income']/l_q_bs[ele].loc['Total Assets']

results = calculate_metric(l_q_fs, l_q_bs, 'Net Income', 'Total Assets', 'Return on Assets')

In [ ]:
#ROIC (Return on Invested Capital): Net Income  Dividends / Invested Capital
#l_q_fs[ele].loc['Net Income'] - l_q_bs[ele].loc['Dividends Payable'] / l_q_bs[ele].loc['Invested Capital']

results = calculate_metric(l_q_fs, l_q_bs, 'Net Income', 'Dividends Payable', 'Return on Invested Capital', numerator_subtract_key='Dividends Payable', data_list_subtract=l_q_bs)

An error occurred for element 3: 'Dividends Payable'
An error occurred for element 11: 'Dividends Payable'
An error occurred for element 12: 'Dividends Payable'
An error occurred for element 16: 'Dividends Payable'
An error occurred for element 23: 'Dividends Payable'

In [ ]:
#Deuda Neta a EBITDA: Net Debt (Total Debt - Cash And Cash Equivalents)/EBITDA
#(l_q_bs[0].loc['Total Debt'] - l_q_bs[0].loc['Cash And Cash Equivalents'] / l_q_fs[0].loc['EBITDA']

results = calculate_metric(l_q_bs, l_q_fs, 'Total Debt', 'EBITDA', 'EBITDA: Net Debt', numerator_subtract_key='Cash And Cash Equivalents', data_list_subtract=l_q_bs)

An error occurred for element 2: 'EBITDA'
An error occurred for element 3: 'EBITDA'
An error occurred for element 7: 'EBITDA'
An error occurred for element 18: 'EBITDA'

In [ ]:
l_q_fs[2].loc['EBITDA']

KeyError: 'EBITDA'

In [ ]:
#Earnings Yield: EPS /Market Price per Share
#l_q_fs[ele].loc['Diluted EPS']/l_q_bs[ele].loc['Total Assets']

In [ ]:
#Ratio de Apalancamiento (Leverage Ratio): Total Liabilities/Total Equity -OK-
#Indica cunto riesgo financiero asume la empresa al financiarse con deuda
#l_q_bs[ele].loc['Total Liabilities Net Minority Interest']/l_q_bs[ele].loc['Total Assets']

results = calculate_metric(l_q_bs, l_q_bs, 'Total Liabilities Net Minority Interest', 'Total Assets', 'Leverage Ratio')

2. Indicadores de ValuaciN

Precio/Ganancia (P/E Ratio):
EPS/Market Price per Share

Precio/Valor en Libros (P/B Ratio):
Market Price per Share / (Stockholders Equity/Shares Outstanding)

Enterprise Value/EBITDA (EV/EBITDA):
Enterprise Value / EBITDA

Precio/Ventas (P/S Ratio):
Market Capitalization / Total Revenue

In [ ]:
from sklearn.impute import KNNImputer

def knn_impute_nan_entire_df(dataframes_list, n_neighbors=3):
    """
    Use KNN to impute NaN values in a list of DataFrames for all columns.

    Args:
    - dataframes_list (list): List of DataFrames to process.
    - n_neighbors (int): Number of neighbors to use for KNN imputation.

    Returns:
    - list: List of DataFrames with NaN values imputed.
    """
    updated_dataframes = []

    for i, df in enumerate(dataframes_list):
        try:
            # Transpose the DataFrame to match KNNImputer's expected input format
            df_transposed = df.T

            # Apply KNN imputer
            imputer = KNNImputer(n_neighbors=n_neighbors)
            imputed_data = imputer.fit_transform(df_transposed)

            # Reconstruct the DataFrame with imputed values
            df_imputed = pd.DataFrame(imputed_data, columns=df_transposed.columns, index=df_transposed.index).T

            # Append the updated DataFrame to the list
            updated_dataframes.append(df_imputed)
        except Exception as e:
            print(valid_tickers[i])
            print(f"An error occurred at iteration {i} (DataFrame index {i}): {e}")
            updated_dataframes.append(df)

    return updated_dataframes

# Apply KNN imputation to the entire DataFrame
l_q_fs_knn_imputed_all = knn_impute_nan_entire_df(l_q_fs_cleaned, n_neighbors=3)

# Check the imputed DataFrames
#for i, df in enumerate(l_q_fs_knn_imputed_all):
#    print(f"Imputed DataFrame {i}:")
#    print(df)

In [ ]:
valid_tickers[18]

'ITAUCL.SN'